<center><h1>Edit Movie</h1></center>


<form method="POST" action="/movies/<%= @movie.id %>/edit">
  <pre><h3>  Movie Name</h3> <textarea type="text" name="movie[name]"><%= @movie.name %></textarea></pre>
  <pre><h3> Year Released </h3> <textarea type="text" name="movie[year_released]"><%= @movie.year_released %></textarea> <a target="_blank" href='https://google.com/search?q=<%=@movie.name%>+release+date'>Search Movie Year</a>

      <button type="submit"><strong>Edit Movie</strong></button></pre>
</form>

<form method="post" action="/movies/<%= @movie.id %>/delete">
 <pre><h3> Delete Movie</h3>        <button type="submit"><strong>Delete</strong></button></pre>
<input id="hidden" type="hidden" name="_method" value="DELETE">
</form>


<blockquote><center><a href="/movies">Go Back to My Collection</a></center></blockquote>

